.ell {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.Layout {
  .VPContent {
    display: flex;
  }

  .VPPage {
    flex-grow: 1;

    & > div {
      height: 100%;

      & > div {
        height: 100%;
      }
    }
  }
}

.NotFound {
  width: 100%;
}
